{% extends "layout.html" %}
{% block body %}
<div class="card shadow mb-5 bg-body rounded">
  <div class="card-header">Admin Dashboard</div>
  <div class="card-body gap-2 d-grid">
    <div class="btn-group-vertical">
      <a class="btn btn-success" href="{{url_for('patientAdd')}}">Add Patient</a>
      <a class="btn btn-success" href="{{url_for('update')}}">Update Patient</a>
      <a class="btn btn-success" href="{{url_for('patients')}}">Patients</a>
    </div>
    <div class="btn-group-vertical">
      <a class="btn btn-success" href="{{url_for('doctorAdd')}}">Add Doctor</a>
      <a class="btn btn-success" href="{{url_for('doctorUpdate')}}">Update Doctor</a>
      <a class="btn btn-success" href="{{url_for('doctors')}}">Doctors</a>
    </div>
    <div class="btn-group-vertical">
      <a class="btn btn-success" href="{{url_for('appointmentAdd')}}">Add Appoitment</a>
      <a class="btn btn-success" href="{{url_for('appointments')}}">Appointments</a>
    </div>
    <div class="btn-group-vertical">
      <a class="btn btn-success" href="{{url_for('nurseAlloc')}}">Allocate Nurse</a>
      <a class="btn btn-success" href="{{url_for('nurseAdd')}}">Add Nurse</a>
      <a class="btn btn-success" href="{{url_for('nurses')}}">Nurses</a>
    </div>
    <div class="btn-group-vertical">
      <a class="btn btn-success" href="{{url_for('recordAdd')}}">Add Record</a>
      <a class="btn btn-success" href="{{url_for('recordUpdate')}}">Update Record</a>
      <a class="btn btn-success" href="{{url_for('records')}}">Records</a>
    </div>
    <div class="btn-group-vertical">
      <a class="btn btn-success" href="{{url_for('takes')}}">Add dosage for Patient</a>
      <a class="btn btn-success" href="{{url_for('testAdd')}}">Add Test Taken</a>
    </div>
    <div class="btn-group-vertical">
      <a class="btn btn-success" href="{{url_for('adminDisplay')}}">View Profile</a>
      <a class="btn btn-success" href="{{url_for('adminUpdate')}}">Update Profile</a>
    </div>
    <a class="btn btn-success" href="{{url_for('logout')}}">Logout</a>
  </div>
</div>
<div class="form-text">{{ msg }}</div>
{% endblock body %}