{% extends "layout.html" %}
{% block body %}
<div class="card shadow mb-5 bg-body rounded">
  <div class="card-header">
    <h2>Admin Login</h2>
  </div>
  <div class="card-body">
    <form action="{{ url_for('adminLogin')}}" method="post" autocomplete="off">
      <div class="form-text">{{ msg }}</div>
      <div class="mb-3 col">
        <label for="mailId" class="form-label">Mail-id</label>
        <input type="email" name="mailId" placeholder="Enter Your Mail-id" class="form-control" id="mailId" required>
      </div>
      <div class="mb-3 col">
        <label for="passwd" class="form-label">Password</label>
        <input type="password" name="passwd" placeholder="Enter Your Password" class="form-control" id="passwd" required>
      </div>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
    <p class="form-text">New to this page? <a href="{{url_for('adminRegister')}}">Register here</a></p>
  </div>
</div>
{% endblock body %}