{% extends "layout.html" %}
{% block body %}
  <div class="card">
    <div class="card-header">
      <h2>Add Patient Diagnosis</h2>
    </div>
    <div class="card-body">
      <form action="{{url_for('diagnosisAdd')}}" method="POST" autocomplete="OFF">
        <div class="msg">{{ msg }}</div>
        <div class="mb-3">
            <label for="mailId" class="form-label">Patient</label>
            <select class="form-select" id="mailId" name="mailId" required>
                <option value="">Select Patient</option>
                {% for patient in patients %}
                <option value="{{patient[0]}}">{{patient[1]}} ({{patient[0]}})</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
          <label for="testId" class="form-label">Test</label>
          <select class="form-select" id="testId" name="testId" required>
              <option value="">Select Test</option>
              {% for test in tests %}
              <option value="{{test[0]}}">{{test[1]}} ({{test[0]}})</option>
              {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="testDate" class="form-label">Test Date</label>
          <input type="date" name="testDate" placeholder="Enter Test date" class="form-control" id="testDate" required>
        </div>
        <div class="mb-3">
          <label for="Analysis" class="form-label">Analysis</label>
          <textarea name="Analysis" id="Analysis" placeholder="Enter Test Analysis" class="form-control" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
{% endblock body %}