{% extends "layout.html" %}
{% block body %}
<div class="card shadow mb-5 bg-body rounded">
    <div class="card-header">
        <h2>Register Doctor</h2>
    </div>
    <div class="card-body">
        <form action="{{ url_for('doctorAdd')}}" method="post" autocomplete="off">
            <div class="form-text">{{ msg }}</div>
            <div class="mb-3 col">
                <input type="text" name="docMailId" placeholder="Enter mail-id" class="form-control" id="docMailId" required>
            </div>
            <div class="mb-3 col">
                <input type="password" name="passwd" placeholder="Enter Password" class="form-control" id="passwd" required>
            </div>
            <div class="mb-3 col">
                <input type="text" name="docName" placeholder="Enter Name" class="form-control" id="docName" required>
            </div>
            <div class="mb-3 col">
                <input type="date" name="availableDate" placeholder="Enter available date" class="form-control" id="availableDate" required>
            </div>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
        {% if not loggedIn %}
        <p class="form-text">Already have account? <a href="{{ url_for('doctorLogin')}}">Login here</a></p>
        {% endif %}
    </div>
</div>
{% endblock body %}