{% extends "layout.html" %}
{% block body %}
  <div class="card">
    <div class="card-header">
      <h1>Enter your details to book</h1>
    </div>
    <div class="card-body">
      <form action="{{url_for('dosageAdd')}}" method="POST" autocomplete="OFF">
        <div class="msg">{{msg}}</div>
        <div class="mb-3">
          <label for="mailId" class="form-label">Mail-id</label>
          <input type="email" name="mailId" placeholder="Enter mailId" class="form-control" id="mailId" required>
        </div>
        <div class="mb-3">
          <label for="medicineId" class="form-label">Medicine</label>
          <input type="text" name="medicineId" placeholder="Enter medicineId" class="form-control" id="medicineId" required>
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="text" name="quantity" placeholder="Enter quantity" class="form-control" id="quantity" required>
        </div>
        <div class="mb-3">
          <label for="takes_date" class="form-label">Date</label>
          <input type="date" name="doseDate" placeholder="Enter the date" class="form-control" id="takes_date" required>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
      </form>
    </div>
  </div>
{% endblock body %}