{% extends "layout.html" %}
{% block body %}
<div class="card shadow mb-5 bg-body rounded">
  <div class="card-header">
    <h2>Register Nurse</h2>
  </div>
  <div class="card-body">
    <form action="{{ url_for('nurseAdd')}}" method="post" autocomplete="off">
      <div class="mb-3 col">
        <label for="nurseId" class="form-label">Nurse Id</label>
        <input type="text" name="nurseId" placeholder="Enter Nurse Id" class="form-control" id="nurseId" required>
      </div>
      <div class="mb-3 col">
        <label for="nurseName" class="form-label">Name</label>
        <input type="text" name="nurseName" placeholder="Enter Nurse Name" class="form-control" id="nurseName" required>
      </div>
      <div class="mb-3 col">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="number" name="phoneNumber" placeholder="Enter Phone No." class="form-control" id="phoneNumber" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
{% endblock body %}