body {
  background-image: url("./bg.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-size: cover;
}
.login-card {
  max-width: 400px;
}
.block-body {
  padding: 2em;
  justify-content: center;
}
.transparent {
  background: transparent;
}
nav .container-fluid {
  padding: 0.15em 5em;
}
