body{
  background-image: url("./bg.jpg");
  background-color: #cccccc;
  background-size: cover;
}
.block-body{
  padding: 2em;
}
.transparent{
  background: transparent;
}
nav .container-fluid{
  padding: 0.15em 5em
}