{% extends "layout.html" %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h2>Enter Details to Update</h2>
        </div>
        <div class="card-body">
            <form action="{{ url_for('adminUpdate') }}" method="post" autocomplete="off">
                <div class="msg">{{ msg }}</div>
                <div class="mb-3 col">
                    <input type="email" name="mailId" value="{{admin[0]}}" placeholder="Enter Your mail-id" class="form-control" id="mailId" required>
                </div>
                <div class="mb-3 col">
                    <input type="password" name="passwd" placeholder="Enter Your Password" class="form-control" id="passwd" value="{{admin[1]}}" required>
                </div>
                <div class="mb-3 col">
                    <input type="text" name="adminName" placeholder="Enter Your name" class="form-control" id="adminName" value="{{admin[2]}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <a class="btn btn-primary" href="{{url_for('adminIndex')}}">Home</a>
            </form>
        </div>
    </div>
{% endblock body %}