{% extends "layout.html" %}
{% block body %}
    <div class="card shadow mb-5 bg-body rounded">
        <div class="card-header">
            <h2>My appointments</h2>
        </div>
            <div class="card-body">
                {% if not appointments %}
                No Appointments Found.
                {% else %}
                <table class="table table-hover">
                    {% for appointment in appointments %}
                    <li>doctor id : {{appointment[0]}}</li>
                    <li>date of appointment: {{appointment[1]}}</li>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}