{% extends "layout.html" %}
{% block body %}
<div class="card">
    <div class="card-header">
        <h2>Register</h2>
    </div>
    <div class="card-body">
        <form action="{{ url_for('doctorRegister')}}" method="post" autocomplete="off">
            <div class="form-text">{{ msg }}</div>
            <input type="text" name="docMailId" placeholder="Enter Your  ID" class="form-control" id="docMailId" required>
            <input type="password" name="passwd" placeholder="Enter Your Password" class="form-control" id="passwd" required>
            <input type="text" name="docName" placeholder="Enter Your name" class="form-control" id="docName" required>
            <input type="date" name="availableDate" placeholder="Enter available date" class="form-control" id="availableDate" required>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p class="form-text">Already have account? <a href="{{ url_for('doctorLogin')}}">Login here</a></p>
    </div>
</div>
{% endblock body %}