{% extends "layout.html" %}
{% block body %}
<div class="row gap-2">
  {% for doctor in doctors %}
    <div class="card col-lg-5 mx-auto">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">NAME : Dr. {{doctor[1]}} </li>
          <li class="list-group-item">ID : {{doctor[0]}} </li>
          <li class="list-group-item">Available Date : {{doctor[2]}} </li>
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock body %}