{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="/editUser">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile</legend>
                <div class="form-group">
                    <label for="InputName">Name</label>
                    <input type="text" name="name" class="form-control" id="InputName" value="{{userData[0]}}" placeholder="Enter Name" required>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Email address</label>
                    <input type="email" name="email" class="form-control" id="InputEmail" value="{{userData[1]}}" placeholder="Enter Email" disabled>
                </div>
                <div class="form-group">
                    <label for="InputPhone">Phone Number</label>
                    <input type="tel" name="phone" class="form-control" id="InputPhone" value="{{userData[2]}}" placeholder="Enter Phone" required>
                </div>
                <div class="form-group">
                    <label for="InputDate">Date of Birth</label>
                    <input type="date" name="dob" class="form-control" id="InputDate" value="{{userData[3]}}" required>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Update
                </button>
            </div>
        </form>
    </div>
{% endblock content %}