{% extends "layout.html" %}
{% block body %}
<div class="card shadow mb-5 bg-body rounded">
  <div class="card-header"><h2>My Account</h2></div>
  <div class="card-body gap-2 d-grid">
    <div class="btn-group-vertical">
      <a class="btn btn-success" href="{{url_for('makeappointment')}}">Make An Appointment</a>
      <a class="btn btn-success" href="{{url_for('patientAppointments')}}">My Appointments</a>
      <a class="btn btn-success" href="{{url_for('doctorsList')}}">Doctor Profiles</a>
      <a class="btn btn-success" href="{{url_for('myRecords')}}">My Records</a>
    </div>
    <div class="btn-group-vertical">
      <a class="btn btn-success" href="{{url_for('display')}}">View Profile</a>
      <a class="btn btn-success" href="{{url_for('update')}}">Update Profile</a>
    </div>
    <a class="btn btn-success" href="{{url_for('logout')}}">Logout</a>
  </div>
</div>
<div class="form-text">{{ msg }}</div>
{% endblock body %}