{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="/login">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    <label for="InputEmail">Email address</label>
                    <input type="email" name="email" class="form-control" id="InputEmail" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Enter Password">
                </div>
                {% if loginError %}
                <div style="color: red;">Invalid username or password!</div>
                {% else %}
                <br>
                {% endif %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Log In
                </button>
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            New User? <a class="ml-2" href="/signup">Sign Up</a>
        </small>
    </div>
{% endblock content %}