{% extends "layout.html" %}
{% block body %}
    <div class="card shadow mb-5 bg-body rounded">
        <div class="card-header">
            <h2>Book your appointment</h2>
        </div>
        <div class="card-body">
            <form action="{{ url_for('makeappointment') }}" method="post" autocomplete="off">
                <div class="msg">{{ msg }}</div>
                <div class="mb-3 col">
                    <label for="docMailId" class="form-label">Doctor Id</label>
                    <input type="text" name="docMailId" placeholder="Enter doctor id" class="form-control" id="docMailId" required>
                </div>
                <div class="mb-3 col">
                    <label for="appointmentDate" class="form-label">Appointment Date</label>
                    <input type="date" name ="appointmentDate" placeholder="Enter the date for appointment" class="form-control" id="appointmentDate" required>
                </div>
                <button type="submit" class="btn btn-success">Make Appointment</button>
            </form>
        </div>
    </div>
{% endblock body %}