{% extends "layout.html" %}
{% block body %}
<div class="card shadow mb-5 bg-body rounded">
  <div class="card-header">
    <h2>Fill nurse Details to Update</h2>
  </div>
  <div class="card-body">
    <form action="{{ url_for('nurseInfo')}}" method="post" autocomplete="off">
      <div class="mb-3 col">
        <input type="text" name="nurse_id" placeholder="enter nurse_id" class="textbox" id="nurse_id" required>
      </div>
      <div class="mb-3 col">
        <input type="text" name="nurse_name" placeholder="enter nurse_name" class="textbox" id="nurse_name" required>
      </div>
      <div class="mb-3 col">
        <input type="text" name="phone_number" placeholder="enter phone_no" class="textbox" id="phone_number" required>
      </div>
      <button type="submit" class="btn btn-success">register</button>
    </form>
</div>
{% endblock body %}