{% extends "layout.html" %}
{% block body %}
  <div class="card">
    <div class="card-header">
      <h2>Update Record</h2>
    </div>
    <div class="card-body">
      <form action="{{url_for('recordUpdate')}}"  method="post" autocomplete="off">
        <div class="msg">{{ msg }}</div>
        <div class="mb-3 col">
          <input type="email" name="mailId" placeholder="Enter mail-id" class="form-control" required>
        </div>
        <div class="mb-3 col">
          <input type="text" name="recordId" placeholder="Enter Record_id"class="form-control" required>
        </div>
        <div class="mb-3 col">
          <input type="text" name="Analysis" placeholder="Enter Record Analysis"class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
{% endblock body %}
