{% extends "layout.html" %}
{% block body %}
  <div class="card">
    <div class="card-header">
      <h1>Enter your details to book</h1>
    </div>
    <div class="card-body">
      <form action="{{url_for('takes')}}" method="POST" autocomplete="OFF">
        <div class="msg">{{msg}}</div>
        <div class="mb-3">
          <input type="email" name="mailId" placeholder="Enter mailId" class="form-control" required>
        </div>
        <div class="mb-3">
          <input type="text" name="medicineId" placeholder="Enter medicineId" class="form-control" required>
        </div>
        <div class="mb-3">
          <input type="text" name="quantity" placeholder="Enter quantity" class="form-control" required>
        </div>
        <div class="mb-3">
          <input type="date" name="takes_date" placeholder="Enter the date" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
      </form>
    </div>
  </div>
{% endblock body %}